@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/main/aside.scss';
@import './layout/main/section.scss';
@import './layout/main/div-mobile.scss';
@import './layout/main/modal.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(to left, rgb(234, 179, 8), rgb(168, 85, 247), rgb(59, 130, 246));
    min-width: 320px;
}
