.footer{
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer_button{
    height: 55px;
    width: 200px;
    border-radius: 10px;
    border: none;
    /* font-size: 1.4rem; */
    font-weight: 600;
    background-color: aquamarine;
    cursor: pointer;
}

#nextGame, #reset{
    cursor: default;
    background-color: cornflowerblue;
}