.main{
    width: 100%;
    /* height: calc(100vh - 100px); */
    /* background-color: #6aa2cd; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__aside{
    display: none;
}