.footer{
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &_button{
        height: 55px;
        width: 200px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        background-color: cornsilk;
        cursor: pointer;
    }
}

#nextGame, #reset{
    cursor: default;
    background-color: currentColor;
}