.header{
    width: 100%;
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;

    &__img{
    width: 15%;
    object-fit: contain;
    }
    &__h1{
    font-size: 3rem;
    }
}

@media (min-width:870px){
    .header{
        display: flex;
        align-items: center;
        justify-content:center;
        gap: 40px;
        &__img{
        width: 6%;
        }
    }
}